<div class="container">
  <div class="main-container">
    <form class="form-inline">
      <div class="form-group mx-sm-3 mb-2">
        <label for="name">Name:</label>
        <input 
          [(ngModel)]="nameModel"
          [ngModelOptions]="{standalone: true}"
          id="name"
          type="text" 
          class="form-control" 
          placeholder="Type anything...">
      </div>
      <button (click)="addName()" type="button" 
        class="btn btn-primary mb-2">
        ADD
      </button>

      <select
        (change)="onSortChange($event)" 
        class="form-control sort">
        <option value="" hidden>Sort</option>
        <option value="descending">Descending</option>
        <option value="ascending">Ascending</option>
      </select>
    </form>

    <div class="chips-container">
      <app-chips [activeSort]="activeSort" [chips]="chips"></app-chips>
    </div>
  </div>
</div>